@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-inter: Inter, sans-serif;

  --radius-lg: 8px;
  --radius-md: 6px;
  --radius-sm: 4px;

  --color-background: #fbfcfd;
  --color-foreground: #222831;

  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;

  --color-popover: #fbfcfd;
  --color-popover-foreground: #0a0a0a;

  --color-primary: #222831;
  --color-primary-foreground: #f2f5f8;

  --color-secondary: #393e46;
  --color-secondary-foreground: #f2f5f8;
  --color-secondary-light: #9db2bf;

  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;

  --color-accent: #00adb5;
  --color-accent-foreground: #ffffff;

  --color-destructive: #f31260;
  --color-destructive-foreground: #ffffff;

  --color-success: #17c964;
  --color-success-foreground: #ffffff;

  --color-warning: #f5a524;
  --color-warning-foreground: #ffffff;

  --color-base-150: #f4f7fa;
  --color-base-200: #f1f5f9;
  --color-base-300: #e2ebf3;
  --color-base: #fbfcfd;
  --color-base-content: #222831;

  --color-border: #e5e5e5;
  --color-input: #e5e5e5;
  --color-ring: 0a0a0a;

  --color-chart-1: #e76e50;
  --color-chart-2: #2a9d90;
  --color-chart-3: #274754;
  --color-chart-4: #e8c468;
  --color-chart-5: #f4a462;

  --animate-shine: shine 8s ease-in-out infinite;

  @keyframes shine {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility bg-gradient {
  @apply from-base to-base-150 bg-linear-to-r;
}

@utility bg-gradient-accent {
  @apply from-accent/20 to-accent/30 bg-linear-to-r text-white;
}

@utility sb-red {
  @apply border border-red-500;
}

@utility sb-green {
  @apply border border-green-500;
}

@utility sb-yellow {
  @apply border border-yellow-500;
}

@utility sb-blue {
  @apply border border-blue-500;
}

@utility sb-purple {
  @apply border border-purple-500;
}

@layer base {
  :root {
    font-family: Inter, sans-serif;
  }

  .handsontable td,
  .handsontable th {
    @apply border-border! bg-base! first:border-l-transparent! last:border-r-transparent!;
  }

  .handsontable td {
    @apply p-0!;
  }

  .handsontable th {
    @apply p-0!;
  }
}
@layer base {
  body {
    @apply border-border bg-background font-inter text-foreground;
  }
}
/*
  ---break---
*/
:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
/*
  ---break---
*/
.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
/*
  ---break---
*/
@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  /*
  ---break---
*/
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  /*
  ---break---
*/
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
