@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@plugin "tailwindcss-animate";

:root {
  --font-inter:
    Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --font-geist:
    Geist, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 1rem;
  --radius-toolbar: 0.625rem;

  --base-100: oklch(1 0 0);
  --base-150: oklch(0.97 0.02 252.18);
  --base-200: oklch(0.95 0.02 255.85);
  --base-300: oklch(0.93 0.02 254.84);
  --base-400: oklch(0.65 0.01 258.98);
  --base: oklch(1 0 0);
  --base-foreground: oklch(0.29 0.02 254.19);

  --background: oklch(0.96 0 0);
  --foreground: oklch(0.23 0 0);
  --content: oklch(1 0 0);
  --white: oklch(1 0 0);
  --black: oklch(0.23 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.15 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2 0.02 258.12);

  --primary: oklch(0.29 0.02 254.19);
  --primary-foreground: oklch(0.96 0.01 252.18);

  --secondary: oklch(0.36 0.01 255.85);
  --secondary-foreground: oklch(0.96 0.01 252.18);
  --secondary-light: oklch(0.72 0.04 249.49);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.53 0 0);

  --accent: oklch(0.29 0.02 254.19);
  --accent-foreground: oklch(0.96 0.01 252.18);
  --success: oklch(0.58 0.19 159.24);
  --success-foreground: oklch(1 0 0);
  --warning: oklch(0.7 0.2 87.2);
  --warning-foreground: oklch(1 0 0);
  --destructive: oklch(0.61 0.24 10.15);
  --destructive-foreground: oklch(1 0 0);

  --chart-1: oklch(0.68 0.17 41.59);
  --chart-2: oklch(0.52 0.1 184.22);
  --chart-3: oklch(0.35 0.05 222.84);
  --chart-4: oklch(0.74 0.14 89.62);
  --chart-5: oklch(0.76 0.18 69.83);

  --border: oklch(0.92 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0.9 0.01 255.85);
}

.dark {
  --base-100: oklch(1 0 0);
  --base-150: oklch(0.97 0.02 252.18);
  --base-200: oklch(0.95 0.02 255.85);
  --base-300: oklch(0.93 0.02 254.84);
  --base-400: oklch(0.65 0.01 258.98);
  --base: oklch(1 0 0);
  --base-foreground: oklch(0.29 0.02 254.19);

  --primary: oklch(0.96 0.01 252.18);
  --primary-foreground: oklch(0.29 0.02 254.19);
  --secondary-light: oklch(0.72 0.04 249.49);

  --destructive: oklch(0.61 0.24 10.15);
  --destructive-foreground: oklch(1 0 0);
  --accent: oklch(0.29 0.02 254.19);
  --accent-foreground: oklch(0.96 0.01 252.18);
  --success: oklch(0.58 0.19 159.24);
  --success-foreground: oklch(1 0 0);
  --warning: oklch(0.7 0.2 87.2);
  --warning-foreground: oklch(1 0 0);

  --white: oklch(1 0 0);
  --black: oklch(0.23 0 0);
  --content: oklch(0.25 0 0);

  --background: oklch(0.2 0 0);
  --foreground: oklch(0.92 0 0);
  --card: oklch(0.27 0 0);
  --card-foreground: oklch(0.92 0 0);
  --popover: oklch(0.27 0 0);
  --popover-foreground: oklch(0.92 0 0);
  --secondary: oklch(0.27 0 0);
  --secondary-foreground: oklch(0.92 0 0);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.38 0.14 265.59);
  --accent-foreground: oklch(0.88 0.06 254.63);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.37 0 0);
  --input: oklch(0.37 0 0);
  --ring: oklch(0.62 0.19 259.76);
  --chart-1: oklch(0.71 0.14 254.69);
  --chart-2: oklch(0.62 0.19 259.76);
  --chart-3: oklch(0.55 0.22 262.96);
  --chart-4: oklch(0.49 0.22 264.43);
  --chart-5: oklch(0.42 0.18 265.55);
  --sidebar: oklch(0.21 0.01 285.56);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.49 0.24 264.41);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.27 0.01 285.81);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.55 0.02 285.76);

  /* --background: oklch(0.21 0.04 264.04);
  --foreground: oklch(0.93 0.01 256.71);
  --card: oklch(0.28 0.04 260.33);
  --card-foreground: oklch(0.93 0.01 256.71);
  --popover: oklch(0.28 0.04 260.33);
  --popover-foreground: oklch(0.93 0.01 256.71);
  --primary: oklch(0.68 0.16 276.93);
  --primary-foreground: oklch(0.21 0.04 264.04);
  --secondary: oklch(0.34 0.03 261.83);
  --secondary-foreground: oklch(0.87 0.01 261.81);
  --muted: oklch(0.28 0.04 260.33);
  --muted-foreground: oklch(0.71 0.02 261.33);
  --border: oklch(0.45 0.03 257.68);
  --input: oklch(0.45 0.03 257.68);
  --ring: oklch(0.68 0.16 276.93);
  --chart-1: oklch(0.68 0.16 276.93);
  --chart-2: oklch(0.59 0.2 277.06);
  --chart-3: oklch(0.51 0.23 276.97);
  --chart-4: oklch(0.46 0.21 277.06);
  --chart-5: oklch(0.4 0.18 277.16);
  --sidebar: oklch(0.28 0.04 260.33);
  --sidebar-foreground: oklch(0.93 0.01 256.71);
  --sidebar-primary: oklch(0.68 0.16 276.93);
  --sidebar-primary-foreground: oklch(0.21 0.04 264.04);
  --sidebar-accent: oklch(0.37 0.03 259.73);
  --sidebar-accent-foreground: oklch(0.87 0.01 261.81);
  --sidebar-border: oklch(0.45 0.03 257.68);
  --sidebar-ring: oklch(0.68 0.16 276.93); */
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-geist: var(--font-geist);

  --font-size: 0.875rem;

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-base: var(--base);
  --color-base-foreground: var(--base-foreground);
  --color-base-100: var(--base-100);
  --color-base-150: var(--base-150);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);

  --color-secondary-light: var(--secondary-light);

  --color-content: var(--content);
  --color-white: var(--white);
  --color-black: var(--black);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-shine: shine 8s ease-in-out infinite;
  /*
  ---break---
*/
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  /*
  ---break---
*/
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes shine {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }

  :root {
    font-family: Inter, sans-serif;
    scroll-behavior: smooth;
  }

  .handsontable td,
  .handsontable th {
    @apply border-border! bg-base-100! first:border-l-transparent! last:border-r-transparent!;
  }

  .handsontable td {
    @apply p-0!;
  }

  .handsontable th {
    @apply p-0!;
  }

  body {
    @apply border-border bg-background font-inter text-foreground;
  }

  button {
    @apply !cursor-pointer;
  }
}

@utility bg-gradient {
  @apply from-base-100 to-base-150 bg-linear-to-r;
}

@utility bg-gradient-accent {
  @apply from-accent/20 to-accent/30 bg-linear-to-r text-white;
}

@utility sb-red {
  @apply border border-red-500;
}

@utility sb-green {
  @apply border border-green-500;
}

@utility sb-yellow {
  @apply border border-yellow-500;
}

@utility sb-blue {
  @apply border border-blue-500;
}

@utility sb-purple {
  @apply border border-purple-500;
}
